html,
body {
	margin: 0;
	padding: 0;
	background-color: rgb(40, 44, 52);
	font-family: "Roboto", sans-serif;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* import roboto font family */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

/* use roboto as font family  */
* {
	color: rgb(242, 242, 242);
	transition: all 0.2s ease;

	--reactBlue: 97, 218, 251;
}

/* nav border bottom with drop shadow */
nav {
	border-bottom: 1px solid rgb(98, 108, 128, 0.3);
	background-color: rgba(33, 34, 42, 1);
	padding-inline: 1rem;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-logowrapper {
	display: flex;
	align-items: center;
	gap: 0.4375rem;
}
.nav-logowrapper h2 {
	color: rgb(var(--reactBlue));
	font-size: 1.375rem;
	font-weight: 700;
}
.nav-items {
	list-style: none;
	display: flex;
}
.nav-items li {
	padding-inline: 0.8rem;
	padding-block: 10px;
	font-weight: 500;
}
.nav-items li a {
	text-decoration: none;
}
.nav-items li a:hover {
	color: rgb(var(--reactBlue));
}

.nav-items li:hover {
	background-color: rgb(98, 108, 128, 0.2);
}
.nav-logo {
	width: 2rem;
}

/* spin animation on hover */
.nav-logo:hover {
	cursor: pointer;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.title {
	font-size: 2.5rem;
	font-weight: 700;
	padding: 1rem;
	letter-spacing: -0.05em;
}

.List-wrapper {
	position: relative;
	isolation: isolate;
}

.List {
	margin-inline: 3rem;
	width: fit-content;
}

.List > *:hover {
	background-color: rgb(98, 108, 128, 0.2);
}

.List > * {
	padding-block: 0.2rem;
	padding-inline: 0.5rem;
}

.List > li::marker {
	color: rgb(var(--reactBlue));
	font-size: 1.4rem;
}

.bg-logo {
	position: absolute;
	animation: spin 100s linear infinite;
	top: 0;
	right: -17rem;
	transform: translate(0%, 0%);
	z-index: -1;
	filter: grayscale();
	opacity: 0.1;
}

/* attach footer to bottom of screen */
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 1rem;
	text-align: center;
}

.gitImg {
	width: 1rem;
	opacity: 50%;
	padding-inline: 0.5rem;
}

.gitImg:hover {
	opacity: 100%;
}

small > a {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

small a:hover {
	color: rgb(var(--reactBlue));
	scale: 1.05;
}
